* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --nav-bar-color: #ffefed;
}

@font-face {
    font-family: purpleSmile;
    src: url(../font/Purple\ Smile.ttf);
}

body {
    font-family: purpleSmile, Arial, Helvetica, sans-serif;
    background-color: #fbefefd4;
}

a {
    text-decoration: none;

    background-color: #fcfaf6;
    border: 1px;
    text-align: center;
    text-decoration: none;
    transition: all 1s ease-out;
}


a:hover {
    height: 30px;
    width: 115px;
    border-radius: 49px;
    text-align: center;
}    


.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    padding: 20px;
    background-color: var(--nav-bar-color);
    font-size: clamp(.95rem, 1.5vw, 1.45rem);
}

.navbar a {
    color: #967E76;
}

hr{
    height: 1px;
    background-color: #967e765d;
    border: none;
}

.name h1 {
    color: #b9aaa6;
    font-size: 5.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 0.1vw #43312b;
}

img {
    position: fixed;
    top: 43%;
    left: 67%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: left-to-right 1.5s ease-in forwards;
    opacity: 0.9;
    border-radius: 1rem;
    width: 18%;
    height: auto; 
}

@keyframes left-to-right {
    0% {
        transform: translateX(-150%);
    }
}

.citation {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(.95rem, 1.5vw, 1.45rem);
    color: #43312b;
}

.footer {
    position: fixed;
    bottom: 3%; 
    left: 50%;
    color: #9d9694;
    font-size: 1.1vw;
}


@media (max-width: 530px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 38px;
        padding: 15px;
        background-color: var(--nav-bar-color);
        font-size: 0.7rem;
    }

    a:hover {
        background-color: var(--nav-bar-color);
    }  
}